# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VOTACIONES en un Datasets.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)
- 3.4: En el caso de los votos, aplicar mayusculas a cada fila.
- 3.5 EL campo DNI debe ser del tipo INT.


### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

# 1. Carga del Archivo .csv con Pandas

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("votaciones.csv")

df

       nombre apellido         dni     provincia  voto fecha_votacion
0     pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1      albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2         NaN   solano  49179364.0       neuquen  nulo     2024-05-20
3      salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4      matías  esteban  30599927.0         chaco    no     10-07-2023
..        ...      ...         ...           ...   ...            ...
96      carla    vidal  15161718.0      misiones  nulo     2023-09-12
97   federico  barrios  16171819.0       neuquen    no     11-09-2023
98      belen     vera  17181920.0       tucuman    sí     2023-09-10
99    gustavo    gauna  18192021.0      santa fe  nulo     09-09-2023
100     rocio    avila  19202122.0       formosa    no     08-09-2023

[101 rows x 6 columns]

# 2. Exploración inicial de datos

## Primeras filas del dataset

In [162]:
df.head()

    nombre apellido         dni     provincia  voto fecha_votacion
0  pánfilo    pombo  34787190.0  buenos aires  nulo     2024-11-22
1   albina  heredia  48336819.0      santa fe  nulo     2024-04-24
2      NaN   solano  49179364.0       neuquen  nulo     2024-05-20
3   salomé   barrio  43725639.0  buenos aires   NaN     05-06-2024
4   matías  esteban  30599927.0         chaco    no     10-07-2023

## Ultimas filas del dataset

In [163]:
df.tail()

       nombre apellido         dni provincia  voto fecha_votacion
96      carla    vidal  15161718.0  misiones  nulo     2023-09-12
97   federico  barrios  16171819.0   neuquen    no     11-09-2023
98      belen     vera  17181920.0   tucuman    sí     2023-09-10
99    gustavo    gauna  18192021.0  santa fe  nulo     09-09-2023
100     rocio    avila  19202122.0   formosa    no     08-09-2023

# Obtención de información acerca del dataset

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          91 non-null     object
 1   apellido        94 non-null     object
 2   dni             90 non-null     float64
 3   provincia       95 non-null     object
 4   voto            96 non-null     object
 5   fecha_votacion  95 non-null     object
dtypes: float64(1), object(5)
memory usage: 4.9+ KB

## Conteo de valores nulos

In [165]:
df.isnull().sum()

nombre            10
apellido           7
dni               11
provincia          6
voto               5
fecha_votacion     6
dtype: int64

# 3. Limpieza y Normalización de datos

## Limpieza de datos, eliminando los valores nulos

Las filas con valores nulos seran eliminadas para la normalización del dataset ya que al no ser valores numericos al que se le pueda aplicar una media, lo conveniente seria su eliminación

In [166]:
df = df.dropna()

### Se verifica si se borraron los datos nulos

In [167]:
df.isnull().sum()

nombre            0
apellido          0
dni               0
provincia         0
voto              0
fecha_votacion    0
dtype: int64

Dataset sin datos nulos

# Normalización Nombre y Apellido

Se convierte la primera letra de nombre y apellido en mayuscula

In [168]:
df["nombre"] = df["nombre"].str.capitalize()
df["apellido"] = df["apellido"].str.capitalize()

df

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_14660\2439324468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["nombre"] = df["nombre"].str.capitalize()
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_14660\2439324468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["apellido"] = df["apellido"].str.capitalize()

       nombre apellido         dni     provincia  voto fecha_votacion
0     Pánfilo    Pombo  34787190.0  buenos aires  nulo     2024-11-22
1      Albina  Heredia  48336819.0      santa fe  nulo     2024-04-24
4      Matías  Esteban  30599927.0         chaco    no     10-07-2023
6    Gervasio      Bou  33761658.0       mendoza    no     23-09-2023
7     Brígida   Angulo  22169546.0         chaco    no     2024-05-02
..        ...      ...         ...           ...   ...            ...
96      Carla    Vidal  15161718.0      misiones  nulo     2023-09-12
97   Federico  Barrios  16171819.0       neuquen    no     11-09-2023
98      Belen     Vera  17181920.0       tucuman    sí     2023-09-10
99    Gustavo    Gauna  18192021.0      santa fe  nulo     09-09-2023
100     Rocio    Avila  19202122.0       formosa    no     08-09-2023

[63 rows x 6 columns]

# Normalización de fechas

In [169]:
fecha = pd.Series(df["fecha_votacion"])

fecha1 = pd.to_datetime(fecha, format="%Y-%m-%d", errors="coerce")
fecha2 = pd.to_datetime(fecha, format="%d-%m-%Y", errors="coerce")

serie_final = fecha1.combine_first(fecha2)

serie_final

0     2024-11-22
1     2024-04-24
4     2023-07-10
6     2023-09-23
7     2024-05-02
         ...
96    2023-09-12
97    2023-09-11
98    2023-09-10
99    2023-09-09
100   2023-09-08
Name: fecha_votacion, Length: 63, dtype: datetime64[ns]

## Se transforma la columna del dataset en esa conversión

Se transforma la columna y se verifica con info si el cambio fue aplicado

In [170]:
df["fecha_votacion"] = serie_final

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 63 entries, 0 to 100
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          63 non-null     object
 1   apellido        63 non-null     object
 2   dni             63 non-null     float64
 3   provincia       63 non-null     object
 4   voto            63 non-null     object
 5   fecha_votacion  63 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 3.4+ KB

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_14660\253108808.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["fecha_votacion"] = serie_final

fecha_votacion cambiado a tipo datetime

# Normalización votos en mayusculas

Se convierte el valor de voto enteramente en mayuscula

In [171]:
df["voto"] = df["voto"].str.upper()

df

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_14660\3491293801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["voto"] = df["voto"].str.upper()

       nombre apellido         dni     provincia  voto fecha_votacion
0     Pánfilo    Pombo  34787190.0  buenos aires  NULO     2024-11-22
1      Albina  Heredia  48336819.0      santa fe  NULO     2024-04-24
4      Matías  Esteban  30599927.0         chaco    NO     2023-07-10
6    Gervasio      Bou  33761658.0       mendoza    NO     2023-09-23
7     Brígida   Angulo  22169546.0         chaco    NO     2024-05-02
..        ...      ...         ...           ...   ...            ...
96      Carla    Vidal  15161718.0      misiones  NULO     2023-09-12
97   Federico  Barrios  16171819.0       neuquen    NO     2023-09-11
98      Belen     Vera  17181920.0       tucuman    SÍ     2023-09-10
99    Gustavo    Gauna  18192021.0      santa fe  NULO     2023-09-09
100     Rocio    Avila  19202122.0       formosa    NO     2023-09-08

[63 rows x 6 columns]

# Normalización DNI a entero

Se convierten los valores de DNI a tipo entero

In [172]:
df["dni"] = df["dni"].round()

df

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_14660\1926740813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dni"] = df["dni"].round()

       nombre apellido         dni     provincia  voto fecha_votacion
0     Pánfilo    Pombo  34787190.0  buenos aires  NULO     2024-11-22
1      Albina  Heredia  48336819.0      santa fe  NULO     2024-04-24
4      Matías  Esteban  30599927.0         chaco    NO     2023-07-10
6    Gervasio      Bou  33761658.0       mendoza    NO     2023-09-23
7     Brígida   Angulo  22169546.0         chaco    NO     2024-05-02
..        ...      ...         ...           ...   ...            ...
96      Carla    Vidal  15161718.0      misiones  NULO     2023-09-12
97   Federico  Barrios  16171819.0       neuquen    NO     2023-09-11
98      Belen     Vera  17181920.0       tucuman    SÍ     2023-09-10
99    Gustavo    Gauna  18192021.0      santa fe  NULO     2023-09-09
100     Rocio    Avila  19202122.0       formosa    NO     2023-09-08

[63 rows x 6 columns]

# 4. Obtención de estadisticas descriptivas

Se obtiene las estadisticas descriptivas de los tipo Object

In [173]:
df.describe(include="object")

       nombre apellido provincia voto
count      63       63        63   63
unique     62       63        12    3
top     Lucas    Pombo  santa fe   NO
freq        2        1         9   26

## Estadisticas descriptivas agrupadas

Por nombre y apellido

In [174]:
df[["nombre","apellido"]].describe()

       nombre apellido
count      63       63
unique     62       63
top     Lucas    Pombo
freq        2        1

Por provincia y voto

In [175]:
df[["provincia","voto"]].describe()

       provincia voto
count         63   63
unique        12    3
top     santa fe   NO
freq           9   26